<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <section id="main_container">
        <div class="inner">
            <div class="contents_box">
                <% for(var i=0; i<4; i++){ %>

                <article class="contents">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="/images/thumb.jpeg" alt="프로필이미지">
                            </div>
                            <div class="user_name">
                                <div class="nick_name f_name">Feeds User nickname </div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" data-name="more">
                            <ul id="toggle" class="toggle_box">
                                <li><input type="submit" class="follow" value="팔로우" data-name="follow"></li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                    </header>
                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="/images/img_section/img01.jpg" alt="visual01"></div>
                        </div>
                    </div>
                    <div>
                        <div class="location">
                            <a href="/matstagram">
                                <div class="location-name">우리동네</div>
                                <div class="location-detail">서울시 도봉구 방학동 888-22</div>
                            </a>
                        </div>
                    </div>
                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                            </div>
                            <div class="sprite_bubble_icon"></div>
                            <div class="sprite_share_icon" data-name="share"></div>
                        </div>
                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                        </div>
                    </div>
                    <div class="likes m_text">
                        좋아요
                        <span id="like-count-39">2,346</span>
                        <span id="bookmark-count-39"></span>
                        개
                    </div>
                    <div class="comment_container">
                        <div class="comment" id="comment-list-ajax-post37">
                            <div class="comment-detail">
                                <div class="nick_name m_text">dongdong2</div>
                                <div>강아지가 너무 귀여워요~!</div>
                            </div>
                        </div>
                    </div>
                    <div class="timer">1시간 전</div>
                    <div class="comment_field" id="add-comment-post37">
                        <input type="text" placeholder="댓글달기...">
                        <div class="upload_btn m_text" data-name="comment">게시</div>
                    </div>
                </article>

                <% } %>

                <article class="contents">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="/images/thumb.jpeg" alt="프로필이미지">
                            </div>
                            <div class="user_name">
                                <div class="nick_name f_name">Feeds User nickname </div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" data-name="more">
                            <ul id="toggle" class="toggle_box">
                                <li><input type="submit" class="follow" value="팔로우" data-name="follow"></li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="/images/img_section/img01.jpg" alt="visual01"></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                            </div>
                            <div class="sprite_bubble_icon"></div>
                            <div class="sprite_share_icon" data-name="share"></div>
                        </div>
                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                        </div>
                    </div>

                    <div class="likes m_text">
                        좋아요
                        <span id="like-count-39">2,346</span>
                        <span id="bookmark-count-39"></span>
                        개
                    </div>

                    <div class="comment_container">
                        <div class="comment" id="comment-list-ajax-post37">
                            <div class="comment-detail">
                                <div class="nick_name m_text">dongdong2</div>
                                <div>강아지가 너무 귀여워요~!</div>
                            </div>
                        </div>
                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="comment_field" id="add-comment-post37">
                        <input type="text" placeholder="댓글달기...">
                        <div class="upload_btn m_text" data-name="comment">게시</div>
                    </div>
                </article>


            </div>
            <input type="hidden" id="page" value="1">

            <div class="side_box">
                <div class="user_profile">
                    <% if(UserInfo == null) { %>
                    <div class="profile_thumb">
                        <img src="/images/thumb.jpeg" alt="프로필사진">
                    </div>
                    <div class="detail">
                        <a onclick="location.href='/matstagram/login'" title="로그인 하러가기!" style="cursor: pointer;">
                            <div class="id m_text">로그인이 필요합니다.</div>
                            <div class="ko_name">Require Login</div>
                        </a>
                    </div>
                    <% } else {%>
                    <div class="profile_thumb">
                        <img src="/images/thumb.jpeg">
                    </div>
                    <div class="detail">
                        <div class="id m_text"><%=UserInfo.usernickname%></div>
                        <div class="ko_name"><%=UserInfo.username%></div>
                    </div>
                    <% } %>
                </div>

                <!-- 로그인 여부 확인 후 우측 영역 내용 조절 -->
                <% if(UserInfo != null) { %>
                <article class="recommend">
                    <header class="reco_header">
                        <div>회원님을 위한 추천</div>
                        <div class="more">모두 보기</div>
                    </header>
                    <% for (var user in Recommend){ %> 
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="/images/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id"><%=Recommend[user].usernickname%></div>
                                <div class="time"><%=Recommend[user].username%></div>
                            </div>
                        </div>
                    <% } %>
                </article>
                <% } %>
                <div class="copyright">
                    <div class="copyrightNav">
                        <ul>
                            <li>소개</li>
                            <li>도움말</li>
                            <li>개인정보처리방침</li>
                            <li>약관</li>
                        </ul>
                    </div>
                    <div class="copyrightInside">© 2020 INSTAGRAM COPY WEB APPLICATION</div>
                    <div class="copyrightInside">Look at the awesome logo I made at: <a
                            href='https://onlinelogomaker.com' title='Online Logo Maker'>onlinelogomaker.com</a></div>
                </div>
            </div>


        </div>
    </section>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>

</html>