<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <section id="main_container">
        <div class="inner">
            <div class="contents_box">
                <% for(var prop in Posts){ %>
                <article class="contents">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="/userdata/profile/<%=Posts[prop].writernum%>.png" style="height: 32px;" alt="프로필이미지">
                            </div>
                            <div class="user_name">
                                <div class="nick_name f_name"><%=Posts[prop].nickname%> </div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" prop="<%=prop%>" data-name="more">
                            <% if(UserInfo != null){ %>
                                <% if(UserInfo.id == Posts[prop].writerid) { %>
                                    <ul id="toggle<%=prop%>" class="toggle_box">
                                        <li onclick="location.href=`/matstagram/post/<%=Posts[prop].postnum%>/edit`">수정</li>
                                        <li onclick="location.href=`/matstagram/post/<%=Posts[prop].postnum%>/delete`">삭제</li>
                                    </ul>
                                <% } else {%>
                                    <ul id="toggle<%=prop%>" class="toggle_box">
                                        <li class="follow" follower="<%=UserInfo.usernum%>" follow="<%=Posts[prop].writernum%>">언팔로우</li>
                                    </ul>
                                <% } %>
                            <% } else {%>
                                <ul id="toggle<%=prop%>" class="toggle_box">
                                    <li class="follow" onclick="location.href='/matstagram/login'">팔로우</li>
                                </ul>
                            <% } %>
                            </div>
                    </header>
                    <div class="img_section">
                        <div class="trans_inner">
                            <div onclick="location.href=`/matstagram/post/detail/<%=Posts[prop].postnum%>`"><img src="/userdata/posts/<%=Posts[prop].postnum%>.png" alt=""></div>
                        </div>
                    </div>
                    <div>
                        <div class="location">
                            <a href="/matstagram">
                                <div class="location-name"><%=Posts[prop].placename%></div>
                                <div class="location-detail"><%=Posts[prop].addressname%></div>
                            </a>
                        </div>
                    </div>
                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <% var chklike = "N" %>
                                <% for(var lprop in Posts[prop].likes){ %>
                                    <% if(Posts[prop].likes[lprop].usernum == UserInfo.usernum){ %>
                                        <% chklike = "Y" %>
                                    <% } %>
                                <% } %>

                                <% if(chklike == "N") { %>
                                    <div class="sprite_heart_icon_outline" postnum="<%=Posts[prop].postnum%>" data-name="heartbeat"></div>
                                <% } else { %>
                                    <div class="sprite_heart_icon_outline hearton" postnum="<%=Posts[prop].postnum%>" data-name="heartbeat"></div>
                                <% } %>
                            </div>
                            <!-- 
                            <div class="sprite_bubble_icon"></div>
                            <div class="sprite_share_icon" data-name="share"></div> 
                            -->
                        </div>
                        <div class="right_icon">
                            <!-- <div class="sprite_bookmark_outline" data-name="bookmark"></div> -->
                        </div>
                    </div>
                    <div class="posts_contents">
                        <div class="posts" id="comment-list-ajax-post37">
                            <div class="posts-detail">
                                <div class="nick_name m_text"><%=Posts[prop].nickname%></div>
                                <div><%=Posts[prop].contents%></div>
                            </div>
                        </div>
                    </div>
                    <div class="likes m_text">
                        좋아요
                        <span id="count<%=Posts[prop].postnum%>"><%=Posts[prop].likes.length%></span>
                        <span id="bookmark-count"></span>
                        개
                    </div>
                    <div class="comment_box post<%=Posts[prop].postnum%>">
                        <% for(var cprop in Posts[prop].comments){ %>
                            <% if(cprop > 4) { break; } %>
                            <div class="comment_container">
                                <div class="comment" id="comment-list-ajax-post37">
                                    <div class="comment-detail">
                                        <div class="nick_name m_text"><%=Posts[prop].comments[cprop].nickname%></div>
                                        <div><%=Posts[prop].comments[cprop].contents%></div>
                                    </div>
                                </div>                      
                            </div>
                        <% } %>
                    </div>
                    <div class="comment_count" onclick="location.href=`/matstagram/post/detail/<%=Posts[prop].postnum%>`">댓글 <%=Posts[prop].comments.length%>개</div>
                    <div class="timer"><%= moment(Posts[prop].uploadtime).fromNow()%></div>
                    <div class="comment_field" id="add-comment">
                        <input type="text" class="comment_contents<%=Posts[prop].postnum%>" placeholder="댓글달기...">
                        <div class="upload_btn m_text" data-name="comment" postnum="<%=Posts[prop].postnum%>">등록</div>
                    </div>
                </article>

                <% } %>

            </div>
            <input type="hidden" id="page" value="1">

            <div class="side_box">
                <div class="user_profile">
                    <% if(UserInfo == null) { %>
                    <div class="profile_thumb">
                        <img src="/userdata/profile/0.png" alt="프로필사진">
                    </div>
                    <div class="detail">
                        <a onclick="location.href='/matstagram/login'" title="로그인 하러가기!" style="cursor: pointer;">
                            <div class="id m_text">로그인이 필요합니다.</div>
                            <div class="ko_name">Require Login</div>
                        </a>
                    </div>
                    <% } else {%>
                    <div class="profile_thumb">
                        <img src="/userdata/profile/<%=UserInfo.profileimg%>">
                    </div>
                    <div class="detail">
                        <div class="id m_text"><%=UserInfo.usernickname%></div>
                        <div class="ko_name"><%=UserInfo.username%></div>
                    </div>
                    <% } %>
                </div>

                <!-- 로그인 여부 확인 후 우측 영역 내용 조절 -->
                <% if(UserInfo != null) { %>
                <article class="recommend">
                    <header class="reco_header">
                        <div>회원님을 위한 추천</div>
                        <div class="more">모두 보기</div>
                    </header>
                    <% for (var user in Recommend){ %> 
                        <% if(Recommend[user].id !== UserInfo.id) { %> 
                            <div class="thumb_user" onclick="location.href='/matstagram/profile/<%=Recommend[user].usernickname%>'">
                                <div class="profile_thumb">
                                    <img src="/userdata/profile/<%=Recommend[user].profileimg%>" alt="프로필사진">
                                </div>
                                <div class="detail">
                                    <div class="id"><%=Recommend[user].usernickname%></div>
                                    <div class="time"><%=Recommend[user].username%></div>
                                </div>
                            </div>
                            <% } %>
                    <% } %>
                </article>
                <% } %>
                <div class="copyright">
                    <div class="copyrightNav">
                        <ul>
                            <li>소개</li>
                            <li>도움말</li>
                            <li>개인정보처리방침</li>
                            <li>약관</li>
                        </ul>
                    </div>
                    <div class="copyrightInside">© 2020 INSTAGRAM COPY WEB APPLICATION</div>
                    <div class="copyrightInside">Look at the awesome logo I made at: <a
                            href='https://onlinelogomaker.com' title='Online Logo Maker'>onlinelogomaker.com</a></div>
                </div>
            </div>


        </div>
    </section>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/dateformat.js"></script>
</body>

</html>