<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/stylesheets/new_post.css">
    </head>
    <body>
        <%- include('../partials/nav') %>
        <section id="container">
            <div id="main_container">
                <div class="post_form_container">
                    <% if(PostInfo == null){ %>
                        <form action="/matstagram/post/create" class="post_form" method="post" encType="multipart/form-data" autocomplete="off"> 
                            <div class="title">
                                맛집 등록
                            </div>
                            <div class="preview">
                                <div class="upload">
                                    <div class="post_btn">
                                        <div class="plus_icon">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <p>포스트 이미지 추가</p>
                                        <canvas id="imageCanvas"></canvas>
                                        <!--<p><img id="img_id" src="#" style="width: 300px; height: 300px; object-fit: cover" alt="thumbnail"></p>-->
                                    </div>
                                </div>
                            </div>
                            <p>
                                <input type="file" name="photo" id="id_photo" required accept=".jpg, .png">
                            </p>
                            <p>
                                <input type="text" id="place_name" name="place_name" placeholder="맛집명" style="width:80%;" required>
                                <span id="LSearch" class="btn btn-info" onclick="">검색</span>
                            </p>
                            <p>
                                <input type="text" name="address_name" placeholder="맛집 주소" required onkeypress="return false;">
                                <input type="hidden" id="place_id" name="place_id" value="">
                            </p>
                            <p>
                                <textarea name="content" id="text_field" cols="50" rows="5" required placeholder="
    140자 까지 등록 가능합니다.
    #태그명 을 통해서 검색 태그를 등록할 수 있습니다.
    예시 : I #love #you !"></textarea>
                            </p>
                            <input class="submit_btn" type="submit" value="저장">
                        </form>  
                    <% } else { %>
                        <form action="/matstagram/post/<%=PostInfo.postnum%>?_method=PUT" class="post_form" method="post" encType="multipart/form-data"> 
                            <div class="title">
                                맛집 등록
                            </div>
                            <div class="preview">
                                <div class="upload">
                                    <div class="post_btn">
                                        <div class="plus_icon">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <p>포스트 이미지 추가</p>
                                        <canvas id="imageCanvas"></canvas>
                                        <p><img id="img_id" src="/userdata/posts/<%=PostInfo.postnum%>.png" style="width: 300px; height: 300px; object-fit: cover" alt="image"></p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <input type="file" name="photo" id="id_photo" accept=".jpg, .png">
                            </p>
                            <p>
                                <input type="text" id="place_name" name="place_name" placeholder="맛집명" style="width:80%;" required value="<%=PostInfo.placename%>">
                                <span id="LSearch" class="btn btn-info" onclick="">검색</span>
                            </p>
                            <p>
                                <input type="text" name="address_name" placeholder="맛집 주소" required value="<%=PostInfo.addressname%>" onkeypress="return false;">
                                <input type="hidden" id="place_id" name="place_id" value="<%=PostInfo.placeid%>">
                            </p>
                            <p>
                                <textarea name="content" id="text_field" cols="50" rows="5" required placeholder="
    140자 까지 등록 가능합니다.
    #태그명 을 통해서 검색 태그를 등록할 수 있습니다.
    예시 : I #love #you !"><%=PostInfo.contents%></textarea>
                            </p>
                            <input class="submit_btn" type="submit" value="저장">
                        </form>  
                    <% } %>
                                 
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div id="modal-content" class="modal-content">                                                            
                            <p>검색 결과가 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var fileInput  = document.querySelector( "#id_photo" ),
                button     = document.querySelector( ".input-file-trigger" ),
                the_return = document.querySelector(".file-return");

            // Show image
            fileInput.addEventListener('change', handleImage, false);
            var canvas = document.getElementById('imageCanvas');
            var ctx = canvas.getContext('2d');
                function handleImage(e){
                var reader = new FileReader();
                reader.onload = function(event){
                    var img = new Image();
                    // var imgWidth =
                    img.onload = function(){
                        canvas.width = 300;
                        canvas.height = 300;
                        ctx.drawImage(img,0,0,300,300);
                    };
                    img.src = event.target.result;
                    // img.width = img.width*0.5
                    // canvas.height = img.height;
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        </script>
        <script src="/javascripts/lsearch.js"></script>
    </body>
</html>