<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link type="text/css" rel="stylesheet" href="/stylesheets/profile.css" >
        <link type="text/css" rel="stylesheet" href="/stylesheets/detail-page.css" >
    </head>
    <body>
        <%- include('../partials/nav') %>
        <section id="container">
            <div id="main_container">
                <section class="b_inner">
                    <div class="hori_cont">
                        <div class="profile_wrap">
                            <div class="profile_img">
                                <img src="/userdata/profile/<%=UserInfo.profileimg%>" alt="착한호랑이">
                            </div>
                        </div>
                        <div class="detail">
                            <div class="top">
                                <div class="user_name"><%=UserInfo.usernickname%></div>
                                <% if(UserInfo != null) { %>
                                    <% if(UserInfo.id == LoginData.id) { %> 
                                        <a href="<%=UserInfo.usernickname%>/edit" style="padding-left: 30%;"><img src="/images/icon/setting_button.png" width="45px" height="45px"></a>
                                        <a href="/matstagram/logout"><img src="/images/icon/logout_button.png" width="45px" height="45px"></a>
                                    <% } else { %>
                                        <% if(chkfollow == "N"){ %>
                                            <button type="button" id="follow" class="btn btn-secondary follow" follow="<%=UserInfo.usernum%>" follower="<%=LoginData.usernum%>">팔로우</button>
                                        <% } else if(chkfollow == "Y") { %>
                                            <button type="button" id="follow" class="btn btn-secondary follow" follow="<%=UserInfo.usernum%>" follower="<%=LoginData.usernum%>">언팔로우</button>
                                        <% } else { %>

                                        <% } %> 
                                    <% } %> 
                                <% } %>
                            </div>
                            <ul class="middle">
                                <li>
                                    <span>게시물</span>
                                    <span class="postcount"><%= UserInfo.posts.length %></span>
                                </li>
                                <li>
                                    <span>팔로워</span>
                                    <span class="followercount"><%= UserInfo.follower.length %></span>
                                </li>
                                <li>
                                    <span>팔로우</span>
                                    <span class="followcount"><%= UserInfo.follow.length %></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="about">
                        <span class="nick_name on">게시물</span>
                        <span class="like">좋아요</span>
                    </p>
        
                    <div class="mylist_contents contents_container active">
                        <% for(var prop in PostData) { %>
                            <div class="pic">
                                <a><img id="detail-page" nickname="<%=UserInfo.usernickname%>" postnum="<%=PostData[prop].postnum%>" src="/userdata/posts/<%=PostData[prop].postnum%>.png" alt=""></a>
                            </div>
                        <% } %>
                    </div>
        
                    <div class="like_contents contents_container">
                        <% for(var prop in likeData) { %>
                            <div class="pic">
                                <a><img id="detail-page" nickname="<%=UserInfo.usernickname%>" postnum="<%=likeData[prop].postnum%>" src="/userdata/posts/<%=likeData[prop].postnum%>.png" alt=""></a>
                            </div>
                        <% } %>
                    </div>
    
                </section>
            </div>
            
            <div id="myModal" class="modal" style="top:-70px">
                <article class="modal-content">
                   <!-- 포스트 내용-->
                </article>
            </div>
            
        </section>
        <script src="/javascripts/profile.js"></script>
        <script src="/javascripts/detail-page.js"></script>
        <script src="/javascripts/dateformat.js"></script>
    </body>
</html>