<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/stylesheets/profile_edit.css">
    </head>
    <body>
        <%- include('../partials/nav') %>
        <section id="container">
            <div id="main_container" style="border:2px;">
                <div class="col-md-4 order-md-1">

                      <form action="/matstagram/profile/<%=UserInfo.usernickname%>/edit/img" encType="multipart/form-data" method="post" >
                        <div class="mb-3">
                          <div class="preview">
                            <div class="upload">
                              <div class="post_btn">
                                <p>프로필 이미지 변경</p>
                                <hr class="mb-4">
                                <canvas id="imageCanvas"></canvas>
                                <!--<p><img id="img_id" src="#" style="width: 300px; height: 300px; object-fit: cover" alt="thumbnail"></p>-->
                              </div>
                            </div>
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputimgadd">jpg, png ...</span>
                            </div>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputimg" name="inputimg" aria-describedby="inputimgadd">
                              <label class="custom-file-label" for="inputimg">프로필 이미지를 선택해주세요.</label>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="img_submit" disabled=true style="margin-top: 15px;">이미지 수정</button>
                          </div>
                        </div>
                      </form>

                      <hr class="mb-4">
                      프로필 수정
                      <form action="/matstagram/profile/<%=UserInfo.usernickname%>/edit" method="post" class="needs-validation" novalidate="">
                      <hr class="mb-4">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <label for="usernickname">닉네임</label>
                          <% if (UserInfo.changenickname=='N') { %>
                            <input type="text" class="form-control" id="usernickname" name="usernickname" placeholder="닉네임을 입력해주세요." value="<%=UserInfo.usernickname%>" required="required">
                          <% } else { %>
                            <input type="text" class="form-control" id="usernickname" name="usernickname" placeholder="닉네임을 입력해주세요." value="<%=UserInfo.usernickname%>" readonly>
                          <% } %>
                          <label for="usernickname" style="font-size: 5px;">닉네임은 가입 후 수정해주셔야 정상적인 이용이 가능합니다.</label>
                          <div id='id_check'></div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <label for="username">이름</label>
                          <input type="text" class="form-control" id="username" name="username" placeholder="이름을 입력해주세요." value="<%=UserInfo.username%>" required="required">
                        </div>
                      </div>

              
                      <div class="mb-3">
                        <label for="email">소셜 연동</label>
                        <input type="email" class="form-control" id="email" value="<%=UserInfo.provider%>" readonly>
                      </div>
              
                      <button class="btn btn-primary btn-lg btn-block" type="submit" id="reg_submit" disabled="true">수정하기</button>
                    </form>
                    <div style="padding-bottom: 60px;"></div>
                  </div>
            </div>
        </section>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#usernickname").blur(function() {
            // id = "id_reg" / name = "userId"
            var usernickname = $('#usernickname').val();						
            $.ajax({
              url : 'http://localhost:3000/matstagram/idCheck/' + usernickname,
              type : 'get',
              success : function(data) {                
                if (data == 1) {
                  // 1 : 아이디가 중복되는 문구
                  $("#id_check").text("사용중인 아이디입니다 :p");
                  $("#id_check").css("color", "red");
                  $("#reg_submit").attr("disabled", true);
                } else {
                  
                  if(usernickname.length < 4){
                    $('#id_check').text("닉네임 소문자와 숫자 4~16자리만 가능합니다");
                    $('#id_check').css('color', 'red');
                    $("#reg_submit").attr("disabled", true);
                  } else if( usernickname.length > 14){
                    $('#id_check').text("닉네임 소문자와 숫자 4~16자리만 가능합니다");
                    $('#id_check').css('color', 'red');
                    $("#reg_submit").attr("disabled", true);
                  } else {
                    $('#id_check').text("");
                    $('#id_check').css('color', 'red');
                    $("#reg_submit").attr("disabled", false);
                  }
                }
                }, error : function() {
                    console.log("실패");
                }
              });
            });

            $("#username").blur(function() {
              var username = $('#username').val();
              if(username.length < 1){
                $("#reg_submit").attr("disabled", true);
              } else if( username.length > 10){
                $("#reg_submit").attr("disabled", true);
              } else {
                $("#reg_submit").attr("disabled", false);
              }
            });
          });
        </script>
        <script>
          var fileInput  = document.querySelector( "#inputimg" ),
              button     = document.querySelector( ".input-file-trigger" ),
              the_return = document.querySelector(".file-return");

          // Show image
          fileInput.addEventListener('change', handleImage, false);
          var canvas = document.getElementById('imageCanvas');
          var ctx = canvas.getContext('2d');
              function handleImage(e){
              var reader = new FileReader();
              reader.onload = function(event){
                  var img = new Image();
                  // var imgWidth =
                  img.onload = function(){
                      canvas.width = 300;
                      canvas.height = 300;
                      ctx.drawImage(img,0,0,300,300);
                  };
                  img.src = event.target.result;
                  // img.width = img.width*0.5
                  // canvas.height = img.height;
              };
              reader.readAsDataURL(e.target.files[0]);
          }
      </script>
      <script type="text/javascript">
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          $("#img_submit").attr("disabled", false);
        });
      </script>
    </body>
</html>